$text-color: #FFFFFF;
$border-color: #FFFFFF;
$dropdown-background-color: #1251C6;
$section-lighter-color: #1057D6;
$section-light-color: #2970F6;
$section-dark-color: #1F57BB;
$section-darker-color: #1B4EB5;